.header-banner-wrapper {
	background: {
		image: url('../img/banner.png');
		repeat: no-repeat;
		position: center;
		size: cover;
	}
}

.Banner {
	color: $white;
	padding: 0 2.5em;
	height: $height;
	@include site-title(2.5em);

	ul.action,
	div.down-arrow {
		display: flex;
		justify-content: center;
	}

	ul.action {
		margin-top: 3em;
		margin-bottom: 4em;

		a.hire-us { 
			@include button($font_color, 150px); 
			margin-right: 1em;
		}
		a.our-work { @include button(url(0,0,0,.4), 150px); }
	}
}