.Service {
	padding: 3em;
}

.Service__card {
	margin-bottom: 3em;
	padding: 1em 2em;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	@include media-item;
}
