.Team {
	padding: 3em;
	@include site-title;

	p { margin-bottom: 3em; }
}

.Team__card,
.Team__info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Team__info {
	cursor: pointer;
	width: 350px;
	@include media-item;

	&:not(:last-child) { margin-bottom: 3em; }

	> img {
		width: 250px;
		height: 260px;
		border-radius: 50%;
		border-bottom: 10px solid transparent;
		-webkit-transition: all .3s;
	}

	h3,
	.Team__User--social { 
		margin-bottom: 1em; 
	}

	&:hover > img {
		-webkit-transform: scale(1.1);
		border-bottom: 10px solid $font_color;
	}

	&:hover > .Team__User--social {
		@include icon-sepia(0);
	}

	&:hover > h3,
	&:hover > p { 
		color: $font_color !important;
	}
}

.Team__User--social  {
	display: flex;

	li:not(:last-child) { margin-right: 1em; }
}

.Team__User--social {
	@include icon-sepia(100%);
} 