// colors
$white: #fff;

// props
$height: 650px;
$font_size: 60px;
$font_color: #F7600E;
$banner_padding: 500px;
$banner_border_color: #65696e;
$service_padding: 400px;
$service_margin: 70px;
$service_border_color: #D0CFCF;
$service_width: 150px;
$service_font_color: #3b434c;